.header {
  background-color: darkslateblue;
  padding: 20px;
  color: white;
}

.header-title {
  font-size: 22px;
}

.header-p {
 font-size: 16px;
 text-align: left;
 line-height: 23px;
}

.header-p-link {
  color: lightyellow;
}