.header {
  background-color: darkslateblue;
  padding: 20px;
  color: white;
  text-align: left;
}

.header-title {
  font-size: 22px;
}

.header-p {
 font-size: 16px;
 line-height: 23px;
}

<<<<<<< HEAD
.header-p a {
=======
.header-p-link {
>>>>>>> 4d52d73a0e878286dd5801dce008068ce5400d1c
  color: lightyellow;
}