.Header {
  background-color: darkslateblue;
  padding: 20px;
  color: white;
}

.Header-title {
  font-size: 22px;
}

.Header-p {
 font-size: 16px;
 text-align: left;
 line-height: 23px;
}

.Header-p a {
  color: lightyellow;
}