.post {
  margin-bottom: 15px;
}

.post-title {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.post-creator {
 font-size: 12px;
 margin-top: 8px;
 color:#999;
}

.post-summary {
  font-size: 14px;
  margin-top: 8px;
  color:#555;
 }

 .post-link {
  font-size: 14px;
  margin-top: 8px;
  color:#0041ff;
  display: block;
 }