.filters {
  margin: 15px;
  display: flex;
  justify-content: flex-start;  
  font-size: 17px;  
  line-height: 34px;
}

.filters-search, .filters-select {
  font-size: 17px;
}

.filters-search {
  height: 30px;
  width: 250px;
  margin-right: 25px;
}